# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\laxy9\Desktop\NWP\VP3\V\Domaci2_Lazar_Erdeljan_RN39_17\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
